body {
    background-image:url(http://www.orangesmile.com/common/img_cities_original/jolly-beach-nobo14-44.jpg);
    background-repeat: no-repeat;
    background-size: 2000px 2000px;

    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

};